<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4 text-center">
  <a routerLink="/home-page" href="/home-page"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
  <a routerLink="/home-page" href="/home-page"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> PUBLISH </a>
      <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
      <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> MAP </a>
      <a class="navbar-brand" *ngIf="userType === 'Head Officer'" style="color: aliceblue" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
      <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
      <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
      <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
      <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!--Adding of new route in the table-->
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-md-7">
    <br>
      <a routerLink="/accounts" href="/accounts" style="font-size: 20px; color: rgb(51, 47, 47)"><span class="glyphicon glyphicon-circle-arrow-left"></span>  Back to Accounts Page</a>
    <br>
    <div class="card">
        <div style="background-color: rgb(51, 47, 47)">
            <h1 style="text-align: center; font-size: 30px">ADD NEW ACCOUNT</h1>
        </div>
      
      <!--Main Form-->
      <div class="col-sm-2"></div>
      <div class="col-md-8" style="text-align: left">
      <br>
        <form novalidate #f="ngForm" (ngSubmit)="createAccount()">
      <!--email-->
     <mat-form-field style="width: 100%"> 
          <div>
            <input 
            matInput
            placeholder="Email"  
            [(ngModel)]="email"
            [ngModelOptions]="{standalone: true}"
            email
            #aEmail="ngModel"
            style="color: dimgray"
            required
            >
          </div>    
          <mat-error *ngIf="aEmail.errors?.required && aEmail.touched" >
              <p style="font-size: 14px;">    Email is required </p>
            </mat-error>
            <mat-error *ngIf="aEmail.errors?.email" >
              <p style="font-size: 14px;">   Please enter a valid email address</p>
            </mat-error>
    </mat-form-field>
         
          
          <!--username-->
          <mat-form-field style="width: 100%"> 
          <div>
              <input
                matInput
                style="color: dimgray"
                [(ngModel)]="userName"
                placeholder="Username"
                [ngModelOptions]="{standalone: true}"
                userName="userName"
                #annuserName="ngModel"
                minlength="2"
                required
              >
          </div>
              <mat-error *ngIf="annuserName.errors?.required && annuserName.touched
              " >
              <p style="font-size: 14px;"> Username is required </p>
              </mat-error>
    
              <mat-error *ngIf="annuserName.errors?.minlength && annuserName.touched
              ">
              <p style="font-size: 14px;"> It has to be at least 4 characters </p>
              </mat-error>
        </mat-form-field>
          <!--Adding of password -->
          <mat-form-field style="width: 100%"> 
          <div>
              
              <input
              matInput
              style= "color: dimgray;"
              type="password"
              [(ngModel)]="password"
              [ngModelOptions]="{standalone: true}"
              password="password"
              #annpassword="ngModel"
              minlength="6"
              required
              placeholder="Password"
              >
          </div>
                <mat-error *ngIf="annpassword.errors?.required && annpassword.touched
              " >
                Password is required
                </mat-error>
    
              <mat-error *ngIf="annpassword.errors?.minlength && annpassword.touched
              " >
                It has to be at least 6 characters
              </mat-error>
            
          </mat-form-field>
          <!--Adding of firstName -->
          <mat-form-field style="width: 100%">
          <div>
            <input
            matInput
            style="color: dimgray;"
            [(ngModel)]="firstName"
            [ngModelOptions]="{standalone: true}"
            firstName="firstName"
            #annfirstName="ngModel"
            minlength="2"
            required
            placeholder="First Name"
            >
          </div>
            <mat-error *ngIf="annfirstName.errors?.required && annfirstName.touched
            " >
              First Name is required
        </mat-error>
  
            <mat-error *ngIf="annfirstName.errors?.minlength && annfirstName.touched
            " >
              It has to be at least 2 characters
      </mat-error>
          </mat-form-field>

          <!--Adding of lastName -->
          <mat-form-field style="width: 100%"> 
          <div>
          
            <input
            matInput
            style="color: dimgray;"
            [(ngModel)]="lastName"
            [ngModelOptions]="{standalone: true}"
            lastName="lastName"
            #annlastName="ngModel"
            minlength="2"
            required
            placeholder="Last Name"
            >
          </div>
            <mat-error *ngIf="annlastName.errors?.required && annlastName.touched
            ">
              Last Name is required
            </mat-error>
  
            <mat-error *ngIf="annlastName.errors?.minlength && annlastName.touched
            " class="alert alert-danger">
              It has to be at least 2 characters
          </mat-error>
          </mat-form-field>

          <!--Adding of accessType -->
          

          <mat-form-field style="width: 100%">
              <mat-select placeholder="Access Type" [formControl]="typeAccess" required>
                <!-- <mat-option>--</mat-option> -->
                <mat-option *ngFor="let type of types" [value]="type.name">
                  {{type.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="typeAccess.hasError('required')">Please choose access type</mat-error>
              <mat-hint>{{typeAccess.value?.sound}}</mat-hint>
            </mat-form-field>

          <br>

            <!--Button post-->
            <input  type="submit" class="btn btn-primary btn-block" value="Add Account">
            <br>
          </form>
          <div class="col-sm-3"></div>
      </div>
      <div ></div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <div align="center">
        <div style="font-size: 13px">
            <div style="color: chartreuse">TrashForm 2018<br/></div>
            | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
            | Silliman University | College of Computer Studies |<br/>
            | Laman, A. | Magcanta, M. | Samson, K. |
            <hr style="width: 30%">
        </div>
        2018 All Rights Reserved.
    </div>
</footer>

</body>
</html>