
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color:black;
  }
  p {font-size: 15px;}
  .margin {
    margin-bottom: 25px;
    }
  .bg-1 { 
    background-color:#474e5d; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: yellowgreen; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
    background-color:darkseagreen;
    position: center;
  }
  .navbar-nav  li a:hover {
    color: #ffffff !important;
  }
  
  .tab {
    overflow: hidden;
    background-color: seagreen;
  }

  agm-map {
    height: 550px;
    position: relative;
  }

.container2{
  background-color: rgba(235, 235, 235, 0.719);
  padding: 10px;
  border-radius: 12px;
}

h4{
  text-align: center;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

h5{
    font: 25px;
}

.alertMes{
  position: absolute;
  top: 245px;
  left: 0px;
  width: 100%;
  z-index: 99999;
  border-radius: 0px;
}
.legendPos{
  position: absolute;
  bottom: 200px;
  left: 10px;
  z-index: 99999;
  
}

