<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/src/assets/forms.css">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
  <!-- link Bootstrap 3 instead of Bootstrap 4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

  <!-- link CSS compatibility patch -->
  <link rel="stylesheet" href="https://unpkg.com/ng-bootstrap-to-bootstrap-3@0.7.0" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4">
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand"  routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> INFORMATION </a>
        <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
        <a class="navbar-brand" style="color: aliceblue"  routerlink="/maps" href="/maps"><span class="glyphicon glyphicon-globe"></span> FACILITY LOCATION </a>
        <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
        <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
        <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
        <a class="navbar-brand" *ngIf="userType === 'Officer'" routerlink="/myaccount" href="/myaccount"><span class="glyphicon glyphicon-user"></span> MY ACCOUNT </a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="container" style="color: seagreen"></div>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

   <div class="alertMes"> <ngb-alert *ngIf="success" type="success" (close)="successMessage = null">{{responseMessage}}</ngb-alert> </div>


    
    <agm-map [zoom] = "14" [latitude]="lat" [longitude]="lng" disableDoubleClickZoom="true" (mapDblClick)="onChoseLocation($event)" (mapClick)="clickedMarker(null)">  
        
      <agm-marker 
    *ngFor="let facility of locs" 
    (markerClick)="clickedMarker(infowindow)" 
    [latitude]="facility.coordinates.latitude" 
    [longitude]="facility.coordinates.longitude" 
    [iconUrl]="facility.icon">
      <agm-info-window #infowindow>
       <h5><b>{{facility.facilityName}}</b></h5>
       <p>{{facility.address}}</p>
       <p>Contact: {{facility.contact}}</p> 
       <div style="text-align: center">
       <button type="button" class="btn btn-primary btn-sm" (click)="editFacility(facility)">EDIT</button>
       <div class=divider></div>
       <button type="button" class="btn btn-danger btn-sm" (click)="deleteFacility(facility)">DELETE</button>
       
       </div>
      </agm-info-window>
    </agm-marker> 
    
    
    
    <agm-marker [latitude]="latitude" [longitude]="longitude" ng-if="latitude"> </agm-marker>


    </agm-map>
    
        <!-- Modal -->
        <ng-template #content let-modal>
            <div class = "container2">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span>
                </button>
                <h4>{{modalName}}</h4> 
                <form #f=ngForm (ngSubmit)="modal.close(send(f.value))">   
                       <!--Facility Name-->
                      <div class="form-group">
                        <label for="falName">Facility Name </label>
                          <input 
                          type="text"
                          class="form-control input-sm" 
                          name="falName" 
                          placeholder="Enter Facility Name.." 
                          [(ngModel)]="!edit ? falName : facilityData.facilityName"
                          falName="falName"
                          minlength="6"
                          #afalName="ngModel"
                          required
                          >
                          <div *ngIf="afalName.errors?.required && (afalName.touched || afalName.dirty)
                          " class="alert alert-danger">
                            Facility Name is required
                          </div>  
                          <div *ngIf="afalName.errors?.minLength && (afalName.touched || afalName.dirty)
                          " class="alert alert-danger">
                            Facility Name must be atleast 6 characters
                          </div>  
                        </div>
    
                        <!--Address-->
                      <div class="form-group">
                        <label for="falAdd">Address</label>
                          <input 
                          type="text" 
                          name="falAdd" 
                          class="form-control input-sm"
                          placeholder="Enter Address.." 
                          [(ngModel)]="!edit ? falAdd : facilityData.address"
                          falAdd="falAdd"
                          minlength="5"
                          #afalAdd="ngModel"
                          required> 
                          <div *ngIf="afalAdd.errors?.required && afalAdd.touched" 
                          class="alert alert-danger">
                            Address is required
                          </div> 
                          <div *ngIf="afalAdd.errors?.minLength && (afalAdd.touched || afalAdd.dirty)
                          " class="alert alert-danger">
                          Address must be atleast 5 characters
                          </div> 
                      </div>
                      <!--Contact Number-->
                      <div class="form-group">
                        <label for="falNum">Contact No</label>
                        <input type="text" 
                        class="form-control input-sm" 
                        name="falNum" 
                        placeholder="e.g. 09XX XXX XXXX" 
                        [(ngModel)]="!edit ? falNum : facilityData.contact"
                        falNum="falNum"
                        minlength="4"
                        #afalNum="ngModel"
                        required> 
                        
                        <div *ngIf="afalNum.errors?.required && afalNum.touched
                        " class="alert alert-danger">
                          Contact Number is required
                        </div> 
                        <div *ngIf="afalNum.errors?.minLength && (afalNum.touched || afalNum.dirty)
                          " class="alert alert-danger">
                            Contact Number must be atleast 4 characters
                          </div> 
                        <p><i>Enter <b>none</b> if contact is not available</i></p>
                      </div>
    
                        <!--Facility Type-->
                      <div class="form-group"><label for="fal">Facility Type
                      <select 
                      class="form-control input-sm" 
                      name="fal" 
                      [(ngModel)]="!edit ? fal : facilityData.type"
                      fal="fal"
                      #afal="ngModel"
                      required
                      
                      > 
                      <div *ngIf="afal.errors?.required && afal.touched
                      " class="alert alert-danger">
                        Facility Type is required
                      </div> 
                        <option *ngFor="let fal of facilityTypes" [ngValue]="fal.name">
                          {{fal.name}}
                        </option>
                      </select></label>
                      </div>
                    <label><span> </span>  <button type="submit" class="btn btn-success" [disabled]="!f.valid ? true : false ">SUBMIT </button> </label>
                    </form>
                    </div>    
              
      </ng-template>
      
      <div class="legendPos"> <img src="./assets/LEGEND.png" alt="Legend"></div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <div align="center">
      <div style="font-size: 13px">
          <div style="color: chartreuse">TrashForm 2018<br/></div>
          | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
          | Silliman University | College of Computer Studies |<br/>
          | Laman, A. | Magcanta, M. | Samson, K. |
          <hr style="width: 30%">
      </div>
      2018 All Rights Reserved.
  </div>
</footer>

</body>
</html>
