<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4 text-center">
  <a routerLink="/main-menu" href="/main-menu"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
  <a routerLink="/main-menu" href="/main-menu"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> PUBLISH </a>
      <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
      <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> MAP </a>
      <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
      <a style="color: aliceblue" class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
      <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
      <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
      <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!--THE MAGIC GOES HERE-->
<div class="row">
      <br>
      <div class="col-sm-2"></div>
      <a routerLink="/publish-schedule" href="/publish-schedule" style="font-size: 20px; color:darkgreen"><span class="glyphicon glyphicon-circle-arrow-left"></span>  Back to List of Published Routes</a>
      <br>
      <div class="card">
          <div class="container">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-3">
                      <br>
                      <div>
                        <img style="width: 300px; height: 300px;" src="./assets/Route.png" alt="ENRO">
                      </div>
                    </div>
                    <div class="col-md-8">
                        <div class="caption">
  
                          <div class="card">
                          <!--Main Form-->
                          <div layout-align="center center" class="col-md-9" style="text-align: left; margin-left: 40px" *ngIf="routeList">
                          <h1>ADD NEW ROUTE</h1>
                          <hr>
                            <br>
                            <form novalidate #f="ngForm" (ngSubmit)="sendData()">
                    
                              <form class="example-form">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Route Number"  type="number" name="routeId" min="1" oninput="validity.valid||(value=value.replace(/\D+/g, ''))" [(ngModel)]="routeId" (ngModelChange)="queryDb($event)">
                                  </mat-form-field>
                              </form>
                              <mat-error *ngIf="exist" >Route Number already exists.</mat-error>
                              
                              <mat-form-field style="width: 100%">
                                  <mat-select placeholder="Select Day/s" [formControl]="colDays" multiple required>
                                  
                                    <mat-option aria-required="true" *ngFor="let day of dayList" [value]="day">{{day.text}}</mat-option>
                                  </mat-select>
                                <mat-error *ngIf="colDays.hasError('required')">Collection day(s) is required</mat-error>
                                <mat-hint>{{colDays.value?.sound}}</mat-hint>
                              </mat-form-field>

                              <mat-form-field  style="width: 100%">
                                  <mat-select placeholder="Select Location/s" [formControl]="route" multiple required>
                                    
                                    <mat-option *ngFor="let route of routeList"  [value]="route">{{route.routeLocationName}}</mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="route.hasError('required')">Please select at least one location</mat-error>
                                <mat-hint>{{route.value?.sound}}</mat-hint>
                              </mat-form-field>
                    
                             <!--  <mat-form-field style="width: 110%">
                                  <mat-select placeholder="Select Type of Collection" [formControl]="trashType">
                                    <mat-option *ngFor="let type of types" [value]="type">{{type.name}}</mat-option>
                                  </mat-select>
                              </mat-form-field> -->

                              <mat-form-field style="width: 100%">
                                <mat-select placeholder="Type of Collection" [formControl]="trashType" required>
                                  <!-- <mat-option>--</mat-option> -->
                                  <mat-option *ngFor="let type of types" [value]="type.name">
                                    {{type.name}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="trashType.hasError('required')">Please choose a collection type</mat-error>
                                <mat-hint>{{trashType.value?.sound}}</mat-hint>
                              </mat-form-field>
                              <br>
                              <br>
                              
                             <!--  <h4>Select Time From (12hr)</h4>
                              <input atp-time-picker [(ngModel)]="time1" style="width: 20%"/>
                              <h4>Select Time To (12hr)</h4>
                              <input atp-time-picker [(ngModel)]="time2" style="width: 20%"/> -->
                              <mat-form-field class="example-full-width" >
                                  <mat-label>From</mat-label>
                                <input matInput type="time" (click)="open(1)" value="{{time1Disp}}" [formControl]="timeFrom" name="timeFrom" >
                                
                              </mat-form-field>

                              <mat-form-field class="example-full-width" >
                                  <mat-label>To</mat-label>
                                <input matInput type="time" (click)="open(2)" value="{{time2Disp}}" [formControl]="timeFrom" name="timeFrom" >
                                
                              </mat-form-field>
                              <br>
                              <br>
                    
                                <!--Button post-->
                                <input style="margin: 10px; font-size: 20px; width: 300px; " type="submit" class="btn btn-primary btn-block" value="Post Route">
                                <br>
                              </form>
                          </div>
                          </div>
  
                            <br>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        </div>
    </div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <div align="center">
        <div style="font-size: 13px">
            <div style="color: chartreuse">TrashForm 2018<br/></div>
            | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
            | Silliman University | College of Computer Studies |<br/>
            | Laman, A. | Magcanta, M. | Samson, K. |
            <hr style="width: 30%">
        </div>
        2018 All Rights Reserved.
    </div>
</footer>

</body>
</html>