<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/ng-bootstrap-to-bootstrap-3@0.7.0" />
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  
  </head>

<body ng-app="TrashForm">
  <div class="container-fluid bg-4">
    <a routerLink="/home-page" href="/home-page"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
    <a routerLink="/home-page" href="/home-page"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" style="color: aliceblue" routerlink="/publish-announcements" href="/publish-announcements"><span
            class="glyphicon glyphicon-file"></span> INFORMATION </a>
        <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span>
          HELPDESK </a>
        <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> FACILITY
          LOCATION </a>
        <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span>
          ACCOUNTS </a>
        <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>
          ROUTE </a>
        <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span>
          REPORTS</a>
        <a class="navbar-brand" *ngIf="userType === 'Officer'" routerlink="/myaccount" href="/myaccount"><span class="glyphicon glyphicon-user"></span>
          MY ACCOUNT </a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

  <!--THE MAGIC GOES HERE-->
  <div class="row">
    <div class="col-sm-3"></div>
    <br>
    <div class="col-sm-2"></div>
    <a routerLink="/publish-announcements" href="/publish-announcements" style="font-size: 20px; color:darkgreen"><span
        class="glyphicon glyphicon-circle-arrow-left"></span> Back to List of Published Information</a>
    <br>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-success" style="margin: 10px; font-size: 20px" (click)="openUploadModal()"><span
      class="glyphicon glyphicon-file"></span> UPLOAD FILE</button>
  </div>
  <div class="card" style="color: black; margin: 0 auto; width: 400px;">
   
  

    <!-- 
    <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block; width: 500px;"></pdf-viewer> -->

  </div>


  <!-- Upload Modal -->
  <ng-template #uploadModal let-modal>
    <div class="modal-header">
        UPLOAD FILE
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
     </div>

     <form novalidate #uploadForm="ngForm" (ngSubmit)="upload_file(uploadForm.value)">
     <div class="modal-body">
            <!--FILE TITLE-->

            <div class="form-group">
              <label for="fileTitle">File Title</label>

              <input
                     type="text"
                     class="form-control input-sm"
                     name="fileTitle"
                      [(ngModel)]="fileTitle"
                      fileTitle="fileTitle"
                      #afileTitle="ngModel"
                      required
                      placeholder="Enter File Title"
              >

          <div *ngIf="afileTitle.errors?.required && afileTitle.touched" class="alert alert-danger">
              File Title is required
            </div>
              </div>

<!--TYPE-->
<div class="form-group">
    <label for="types">Type
        <select
            name="types"
            types="types"
            class="form-control input-sm"
            placeholder="Choose Type"
            [(ngModel)]="types"
            #aType="ngModel"
            required
        >

            <div *ngIf="aType.errors?.required && aType.touched
                  " class="alert alert-danger">
                Access Type is required
            </div>
            <option *ngFor="let types of type" [ngValue]="types.name">
                {{types.name}}
            </option>
            </select></label></div>
<!--UPLOADING-->
<div>
  <label for="for-upload" class="pdf-upload"> <span class="glyphicon glyphicon-open-file"></span> Choose PDF</label>

  <input id="for-upload" class="btn btn-success" type="file" placeholder="PDF src" (change)="detectFile($event)">
  <span style="margin-left: 5px; font-size: 15px;" *ngIf="upload">{{fileName}}</span>
</div>

<div *ngIf="error" class="alert alert-danger">File type not supported. Upload only PDF files</div>

<div *ngIf="progress"  class="card">
  <label for="uploading">Uploading: {{byteTransferred | fileSize}}/{{totalSize | fileSize}}
    [{{progress | async | number:'1.0-2'}}%]</label>
  <mat-progress-bar #uploading *ngIf="progress" mode="determinate" [value]="progress | async" aria-label="upload"></mat-progress-bar>

  <!-- <button class="btn btn-warning btn-sm" (click)="pauseUpload()"> <span class="glyphicon glyphicon-pause"></span>  PAUSE</button> -->
</div>

<!-- <div class="progress" *ngIf="progress">
      <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100">{{progress }}%</div>
    </div> -->
</div>


<div class="modal-footer">
    <button  type="submit" class="btn btn-primary btn-block" style="margin-top: 10px;" [disabled]="(!uploadForm.valid || !upload) ? true : false ">
    UPLOAD 
  </button>
</div>

</form>
     
  </ng-template>

  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <div align="center">
      <div style="font-size: 13px">
        <div style="color: chartreuse">TrashForm 2018<br /></div>
        | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br />
        | Silliman University | College of Computer Studies |<br />
        | Laman, A. | Magcanta, M. | Samson, K. |
        <hr style="width: 30%">
      </div>
      2018 All Rights Reserved.
    </div>
  </footer>

</body>

</html>
