<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ng-bootstrap-to-bootstrap-3@0.7.0" />
</head>

<body ng-app="TrashForm">
  <div class="container-fluid bg-4">
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span>
          INFORMATION </a>
        <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span>
          HELPDESK </a>
        <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> FACILITY LOCATION </a>
        <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span>
          ACCOUNTS </a>
        <a style="color: aliceblue" class="navbar-brand" routerLink="/routes" href="/routes"><span
            class="glyphicon glyphicon-road"></span> ROUTE </a>
        <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span>
          REPORTS</a>
          <a class="navbar-brand" *ngIf="userType === 'Officer'" routerlink="/myaccount" href="/myaccount"><span class="glyphicon glyphicon-user"></span> MY ACCOUNT </a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

  <div class="map-container" style="color: seagreen">
    <button class="save-route" *ngIf="showSave" (click)="showRouteModal(content)">SAVE ROUTE</button>
    <button class="more-details" *ngIf="showEdit" (click)="showRouteModal(edit)">MORE DETAILS</button>
    <button class="clear-route" *ngIf="showSave" (click)="clearRoute()">CLEAR</button>

    <!-- MAP MODES -->
    <div class="mode-div">
      <mat-form-field>
        <mat-select placeholder="MAP MODES" [formControl]="mapModeCtrl"  (ngModelChange)="changeMode(mapModeCtrl.value)">
          <mat-option *ngFor="let mode of modes" [value]="mode" [disabled]="loading">
            {{mode}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- MAP MODES END -->

    <!-- ROUTES LIST -->
    <div class="edit-list" *ngIf="editMode">
      <mat-form-field>
        <mat-select placeholder="ROUTE ID" [(ngModel)]="routeToEdit" (ngModelChange)="chosenRoute()">
          <mat-option *ngFor="let route of allRoutes" [value]="route">
            {{route.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- ROUTES LIST END -->
    <mat-progress-bar *ngIf="loading" mode="indeterminate" color="primary"></mat-progress-bar>
    <div class="alertMes"> <ngb-alert *ngIf="success" type="success" (close)="successMessage = null">{{message}}</ngb-alert> </div>
    <div class="alertMes"> <ngb-alert *ngIf="delete" type="danger">{{message}}</ngb-alert> </div>
    <agm-map [(latitude)]="defaultLoc.lat" [(longitude)]="defaultLoc.lng" [(zoom)]="defaultLoc.zoom"
      disableDoubleClickZoom="true" [zoomControl]="true" [(fitBounds)]='defaultLoc.viewport' (mapDblClick)="dropMarker($event)">

      

      <!-- <agm-marker [(latitude)]="defaultLoc.marker.lat" [(longitude)]="defaultLoc.marker.lng" [markerDraggable]="defaultLoc.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker> -->
      
      <!-- ROUTE CREATION -->
      <agm-marker *ngFor="let loc of tempMarkerList" [(latitude)]="loc.coords.lat" [(longitude)]="loc.coords.lng"
        [markerDraggable]="true" (dragEnd)='changeLoc($event, loc.index)' (markerClick)="viewInfo(infowindow)">
      <agm-info-window #infowindow>
        <h6>{{loc.address}}</h6>
      </agm-info-window>
      </agm-marker>
      <agm-direction *ngIf="showDirection" [waypoints]="waypoints" [origin]="start" [destination]="end" [renderOptions]="renderOptions" [visible]="visible"></agm-direction>

      <agm-direction *ngFor="let rt of allRoutes" [origin]="rt.start" [waypoints]="rt.waypoints" [destination]="rt.end" [visible]="rt.visible"
        [renderOptions]="rt.renderOptions">
      </agm-direction>
      <agm-direction *ngFor="let ro of allRouteDirections" [origin]="ro.start" [waypoints]="ro.waypoints" [destination]="ro.end" [visible]="ro.visible"
        [renderOptions]="ro.renderOptions">
      </agm-direction>
    </agm-map>

    <!-- MODAL -->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">ROUTE CREATION</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate #f="ngForm">
          <div>
            <!-- <div class="form-group">
              <label for="routeID">Route Number</label>
              <input type="number" class="form-control input-sm" name="routeId" [(ngModel)]="routeId" min="1" required
                oninput="validity.valid||(value=value.replace(/\D+/g, ''))" (ngModelChange)="queryDb($event)">
              <div *ngIf="routeIdExist" class="alert alert-danger"> Route Number already exists </div>
            </div> -->

            <mat-form-field style="width: 100%">
              <input matInput placeholder="Route Number" type="number" name="routeId" [(ngModel)]="routeId" min="1" required 
              oninput="validity.valid||(value=value.replace(/\D+/g, ''))" (ngModelChange)="queryDb($event)">
              
            </mat-form-field>
            <div *ngIf="routeIdExist" style="color: red; font-size: 12px; margin-top: -10px;">Route number already exist</div>

            <!-- COLLECTION DAYS -->
            <mat-form-field style="width: 100%">
              <mat-select placeholder="Select Day/s" [formControl]="colDays" multiple required>

                <mat-option aria-required="true" *ngFor="let day of dayList" [value]="day">{{day.text}}</mat-option>
              </mat-select>
              <mat-error *ngIf="colDays.hasError('required')">Collection day(s) is required</mat-error>
              <mat-hint>{{colDays.value?.sound}}</mat-hint>
            </mat-form-field>
            <!-- COLLECTION DAYS END -->

            <!-- COLLECTION TYPE -->
            <mat-form-field style="width: 100%">
              <mat-select placeholder="Type of Collection" [formControl]="trashType" required>
                <!-- <mat-option>--</mat-option> -->
                <mat-option *ngFor="let type of typeList" [value]="type.name">
                  {{type.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="trashType.hasError('required')">Please choose a collection type</mat-error>
              <mat-hint>{{trashType.value?.sound}}</mat-hint>
            </mat-form-field>
            <!-- COLLECTION TYPE END -->
         <!--TIME-->
            <mat-form-field class="example-full-width">
              <mat-label>From</mat-label>
              <input matInput type="time" (click)="open(1)" value="{{time1Disp}}" [formControl]="timeFrom" name="timeFrom">
              <mat-hint>This field is required</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>To</mat-label>
              <input matInput type="time" (click)="open(2)" value="{{time2Disp}}" [formControl]="timeTo" name="timeTo">
              <mat-hint>This field is required</mat-hint>
            </mat-form-field>
            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="!f.valid || !trashType.valid || !colDays.valid || !time2Disp || !time1Disp" (click)="modal.close(addRoute(f.value))">ADD</button>
      </div>
    </ng-template>
    <!-- MODAL END -->

    <!-- EDIT MODAL -->
    <ng-template #edit let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">EDIT ROUTE</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate #f="ngForm">
          <div>
            <div class="form-group">
              <label for="routeID">Route Number</label>
              <input type="text" class="form-control input-sm" name="routeId" [value]="routeToEdit.key"
                readonly=true>
              <div *ngIf=exist class="alert alert-danger"> Route Number already exists </div>
            </div>

            <!-- COLLECTION DAYS -->
            <mat-form-field style="width: 100%">
              <mat-select placeholder="Select Day/s" [formControl]="editColDays"  multiple required>

                <mat-option aria-required="true" *ngFor="let day of editDays" [value]="day">{{day}}</mat-option>
              </mat-select>
              <mat-error *ngIf="editColDays.hasError('required')">Collection day(s) is required</mat-error>
              <mat-hint>{{editColDays.value?.sound}}</mat-hint>
            </mat-form-field>
            <!-- COLLECTION DAYS END -->

            <!-- COLLECTION TYPE -->
            <mat-form-field style="width: 100%">
              <mat-select placeholder="Type of Collection" [formControl]="editTrashType"  required>
                <!-- <mat-option>--</mat-option> -->
                <mat-option *ngFor="let type of editType" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="trashType.hasError('required')">Please choose a collection type</mat-error>
              <mat-hint>{{trashType.value?.sound}}</mat-hint>
            </mat-form-field>
            <!-- COLLECTION TYPE END -->

            <mat-form-field class="example-full-width">
              <mat-label>From</mat-label>
              <input matInput type="time" (click)="open(1)" value="{{time1Disp}}" [formControl]="timeFrom" name="timeFrom">

            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>To</mat-label>
              <input matInput type="time" (click)="open(2)" value="{{time2Disp}}"  [formControl]="timeFrom" name="timeFrom">

            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(deleteRoute(f.value))">DELETE ROUTE</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(editRoute(f.value))">SAVE ROUTE</button>
      </div>
    </ng-template>
    <!-- EDIT MODAL END -->


    <!-- <div class="container-fluid">
      <div class='row'>
        <div class="form-group">
          <label class='col-sm-2'>Address Line 1</label>
          <input class='col-sm-10' type='text' [(ngModel)]='location.address_level_1' class="form-control" placeholder='Office, Apt, Home, Street'>
        </div>
        <div class="form-group">
          <label class='col-sm-2'>Address Line 2</label>
          <input class='col-sm-10' [(ngModel)]='location.address_level_2' class='form-control' placeholder='City' />
        </div>

        <div class="form-group">
          <label class='col-sm-2'>State / Province / Region</label>
          <input class='col-sm-10' [(ngModel)]='location.address_state' class='form-control' placeholder='State'>
        </div>

        <div class="form-group">
          <label class='col-sm-2'>Country</label>
          <input class='col-sm-10' [(ngModel)]='location.address_country' class='form-control' placeholder='State'>
        </div>

        <div class="form-group">
          <label class='col-sm-2'>Postal / Zip code</label>
          <input class='col-sm-10' [(ngModel)]='location.address_zip' class='form-control' placeholder='Zip'>
        </div>

        <button (click)='updateOnMap()' type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>-->

  </div>


  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <div align="center">
      <div style="font-size: 13px">
        <div style="color: chartreuse">TrashForm 2018<br /></div>
        | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br />
        | Silliman University | College of Computer Studies |<br />
        | Laman, A. | Magcanta, M. | Samson, K. |
        <hr style="width: 30%">
      </div>
      2018 All Rights Reserved.
    </div>
  </footer>

</body>

</html>
