body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 18px;}
.margin {
    margin-bottom: 25px;
    }
.bg-1 { 
    background-color:#474e5d; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: yellowgreen; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 15px;
    padding-bottom: 10px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
    background-color:darkseagreen;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.tab {
    overflow: hidden;
    background-color: seagreen;
}

/*add-ons to modal animation
/* The Modal (background) */


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 25% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


/* AGM MAP STYLES */

agm-map {
    height: 550px;
    position: relative;
  }

.mode-div {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1050;
    height: 55px;
    width: 190px;
    background: white;
}

.edit-list {
    position: absolute;
    margin-top: 90px;
    margin-left: 20px;
    z-index: 1050;
    height: 55px;
    width: 190px;
    background: white;
}

.save-route {
    position: absolute;
    margin-top: 80px;
    z-index: 1050;
    margin-left: 25px;
}

.more-details{
    position: absolute;
    margin-top: 150px;
    z-index: 1050;
    margin-left: 25px;
}

.clear-route {
    position: absolute;
    margin-top: 130px;
    z-index: 1050;
    margin-left: 25px;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
  }

  .alertMes{
      z-index: 1080 !important;
      width: 80% !important;
      margin-left: 10%;
      position: absolute
  }

mat-progress-bar{
    position: absolute;
    z-index: 1080;
    margin: 0 auto;

}

