<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
</head>

<body ng-app="TrashForm">
<!-- <div class="container-fluid bg-4">
    <a><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
    <a><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div> -->

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <div class="container-fluid">
        <form (submit)="logIn()">
            <div class="row align-center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h1 style="font-size: 20px; text-align: center"><span class="glyphicon glyphicon-user"></span> LOGIN </h1>
                <hr style="width: 100%; height: 10%; color: darkgreen">
                <mat-form-field style="width: 100%">   
                    <div> <input 
                     matInput 
                     type="text" 
                     name="email" 
                     placeholder="Username" 
                     [(ngModel)]="email" 
                     #aEmail="ngModel"
                     pattern="^[a-zA-Z0-9_-]*$"
                     minlength="4"
                     [ngModelOptions]="{standalone: true}"  
                     required>
                    </div>    
                    <mat-error *ngIf="aEmail.errors?.required && aEmail.touched" >
                        Username is required
                      </mat-error>
                      <mat-error *ngIf="aEmail.errors?.minlength" >
                        Username too short
                      </mat-error>
                      <mat-error *ngIf="aEmail.errors?.pattern">
                        Username is invalid
                      </mat-error>
              </mat-form-field>
              <mat-form-field style="width: 100%"> 
                <div>
                    
                    <input
                    matInput
                    style= "color: dimgray;"
                    type="password"
                    [(ngModel)]="password"
                    [ngModelOptions]="{standalone: true}"
                    password="password"
                    #annpassword="ngModel"
                    minlength="6"
                    required
                    placeholder="Password"
                    >
                </div>
                      <mat-error *ngIf="annpassword.errors?.required && annpassword.touched
                    " >
                      Password is required
                      </mat-error>
          
                    <mat-error *ngIf="annpassword.errors?.minlength && annpassword.touched
                    " >
                      It has to be at least 6 characters
                    </mat-error>
                  
                </mat-form-field>
                <input type="submit" class="btn btn-primary btn-block" value="Login">
            </div>
            <div class="col-sm-4"></div>
            </div>
        </form>
    </div>

    <br>
    <br>
    <br>

<!-- Third Container -->
<!-- <div class="container-fluid bg-2 text-center">
        <h3 class="margin">What is TrashForm?</h3><hr>
        <p style="font-size: 15px; padding-left: 10%; padding-right: 10%;">
            TrashForm is a web application that help users be updated on the collection of garbages and be aware more on Waste
            segregation and waste collection. With the use of the Web Application, it will be easy for the Environmental and Natural Resources
            Office (ENRO) to track users that are not following the laws on waste management.
        </p>
</div> -->

<!-- Footer -->
<!-- <footer class="container-fluid bg-4 text-center">
        <div align="center">
            <div style="font-size: 13px">
                <div style="color: chartreuse">TrashForm 2018<br/></div>
                | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
                | Silliman University | College of Computer Studies |<br/>
                | Laman, A. | Magcanta, M. | Samson, K. |
                <hr style="width: 30%">
            </div>
            2018 All Rights Reserved.
        </div>
</footer>
 -->
</body>
</html>