<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4 text-center">
  <a routerLink="/home" href="/home"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
  <a routerLink="/home" href="/home"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> PUBLISH </a>
        <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
        <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> MAP </a>
        <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
        <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
        <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
    </div>
    </div>
</nav>
<router-outlet></router-outlet>

<!--creating of routes and schedule happens-->
<div class="container" style="color: seagreen">
    <hr>
      <h2 style="text-align: center; color:#2f2f2f"><span class="glyphicon glyphicon-flag"></span>   POSTED EVENTS</h2>
    <hr>           
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Content</th>
            <th>Modifications</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>Clean-up drive at Silliman Beach on July 30, 2018 @ 7AM</td>
              <td><button type="submit" class="btn btn-default" style="background-color: red">DELETE</button></td>
              <td><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" type="submit" class="btn btn-default" style="background-color: yellow">EDIT</button></td>
          </tr>
          <tr>
              <td>Waste Management Class and Orientation at Foundation University on August 1, 2018 @ 2PM</td>
              <td><button type="submit" class="btn btn-default" style="background-color: red">DELETE</button></td>
              <td><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" type="submit" class="btn btn-default" style="background-color: yellow">EDIT</button></td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>

      <div id="id01" class="modal">
      <div style="border-top: 10%" class="container" style="text-align: left">
        <form class="form-horizontal modal-content animate" action="/action_page.php">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <div style="background-color: rgb(51, 47, 47)">
              <h1 style="text-align: center">PUBLISH EVENTS</h1>
            </div>
              <hr>
          <div class="form-group">
            <label class="control-label col-sm-3" for="pwd">Content:</label>
            <div class="col-sm-6">       
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
          </div>
          
          <div class="form-group">        
            <div class="col-sm-offset-3 col-sm-10">
              <button type="submit" class="btn btn-success" style="padding: 10px 10px 10px 10px">Post Event</button>
            </div>
          </div>
        </form>
      </div>
      </div>

      <!--Adding of new route in the table-->
    <div style="text-align:center">
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" type="submit" class="btn btn-default" style="background-color: green; color:white">ADD NEW EVENT</button>
    </div>
  </div>
  <br>
  <br>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <div align="center">
        <div style="font-size: 13px">
            <div style="color: chartreuse">TrashForm 2018<br/></div>
            | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
            | Silliman University | College of Computer Studies |<br/>
            | Laman, A. | Magcanta, M. | Samson, K. |
            <hr style="width: 30%">
        </div>
        2018 All Rights Reserved.
    </div>
</footer>

</body>
</html>
