<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4 text-center">
  <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
  <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> INFORMATION </a>
        <a class="navbar-brand" style="color: aliceblue" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
        <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> FACILITY LOCATION </a>
        <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
        <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
        <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
        <a class="navbar-brand" *ngIf="userType === 'Officer'" routerlink="/myaccount" href="/myaccount"><span class="glyphicon glyphicon-user"></span> MY ACCOUNT </a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!--THE MAGIC GOES HERE-->
<div class="row">
    <div class="col-sm-3"></div>
      <br>
      <div class="col-sm-2"></div>
      <a routerLink="/requests" href="/requests" style="font-size: 20px; color:darkgreen"><span class="glyphicon glyphicon-circle-arrow-left"></span>  Back to Received Requests</a>
      <br>
      <div class="card">
          <div class="container">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-4">
                        <br>
                          <div>
                              <img style="height: 450px; width: 350px; border-radius: 8px" [src]="req.image">
                          </div>
                        <br>
                          <table align="center" *ngIf="req.status === 'Pending'">
                            <body>
                              <div *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">
                                <p style="color:black; font-size: 16px"><b>WOULD YOU ACCEPT THIS REQUEST?</b></p>  
                                <tr align="center">
                                      <td >
                                        <button type="submit" class="btn btn-danger" (click)="denied()" value="Denied"><span class="glyphicon glyphicon-remove-circle"></span>    DENY</button>
                                      </td>
                                      <td>
                                        ------------
                                      </td>
                                      <td>
                                        <button type="submit" class="btn btn-success" (click)="accepted()" value="Accepted"><span class="glyphicon glyphicon-ok-circle"></span>   ACCEPT</button>
                                      </td>
                                    </tr>
                              </div>
                            </body>
                          </table>
                          <br>
                    </div>
                    <div class="col-md-6">
                        <div class="caption">
                            <div style="color: green; margin: 10px; font-style: bold"><h3>SENDER:</h3>
                              <div>
                                  <img style="height: 150px; width: 150px; border-radius: 50%" [src]="sentBy.picture">
                                  <b style="color: black; margin-left: 30px; margin-right: 30px; align-content: center">{{sentBy.lastName}}, {{sentBy.firstName}} | {{sentBy.userRoute}}</b>
                              </div>
                            </div>  

                            <div style="color: green; margin: 10px; font-style: bold"><h3>REQUEST DESCRIPTION:</h3>
                              <p style="color: black; margin-left: 30px; margin-right: 30px"><b>{{req.description}}</b></p>
                            </div>
                            
                            <div style="color: green; margin: 10px; font-style: bold"><h3>DATE RECEIVED:</h3>
                              <p style="color: black; margin-left: 30px; margin-right: 30px"><b>{{req.date}}</b></p>
                            </div>
                            
                            <div style="color: green; margin: 10px; font-style: bold"><h3>STATUS:</h3>
                              <p style="color: black; margin-left: 30px; margin-right: 30px"><b>{{req.status}}</b></p>
                            </div>
                            
                            <div style="color: green; margin: 10px; font-style: bold"><h3>LOCATION:</h3>
                              <p style="color: black; margin-left: 30px; margin-right: 30px"><b>{{req.requestLocation}}</b></p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
  
        <div class="col-sm-3"></div>
        </div>
    </div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <div align="center">
        <div style="font-size: 13px">
            <div style="color: chartreuse">TrashForm 2018<br/></div>
            | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
            | Silliman University | College of Computer Studies |<br/>
            | Laman, A. | Magcanta, M. | Samson, K. |
            <hr style="width: 30%">
        </div>
        2018 All Rights Reserved.
    </div>
</footer>

</body>
</html>
