body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 18px;}
.margin {
    margin-bottom: 25px;
    }
.bg-1 { 
    background-color:#474e5d; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: yellowgreen; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 15px;
    padding-bottom: 10px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
    background-color:darkseagreen;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.tab {
    overflow: hidden;
    background-color: seagreen;
}

.word-wrap {
    word-break: break-all;
}
.no-wrap {
    white-space: nowrap;
}
.fixed {
    table-layout: fixed;
}


.table td.trunc {
    max-width: 100px;
}
.table td.trunc span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}


#chat-to{
    max-width: 100% ;
        background: #e7ff8c;
        border: 1px solid black;
        border-radius: 15px 15px 15px 0px;
        padding: 5px;
        display: inline-block;
        text-align: left !important;
        white-space: pre-line !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
}

.toMe , .fromMe{
   border: none
}

#chat-from{
    max-width: 100% ;
    background: #CCCCFF;
    border: 1px solid black;
        border-radius: 15px 15px 0 15px;
        padding: 5px;
        display: inline-block;
        text-align: left !important;
        white-space: pre-line !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
}

.modal-footer{
    padding: 0 5px;
    align-content: center;
    align-items: center;
}

.modal-body{
    padding: 0 0;
}

.text-container{
    display: flex;
    align-content: center;
}


/* text-area{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

            font-size: 15px;
} */


li{
    font-size: 15px;
}

.textArea{
    width: 85%;
}
