<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/ng-bootstrap-to-bootstrap-3@0.7.0" />
  
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4">
  <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
  <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> INFORMATION </a>
        <a class="navbar-brand" style="color: aliceblue" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
        <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> FACILITY LOCATION </a>
        <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
        <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
        <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
        <a class="navbar-brand" *ngIf="userType === 'Officer'" routerlink="/myaccount" href="/myaccount"><span class="glyphicon glyphicon-user"></span> MY ACCOUNT </a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!--creating of routes and schedule happens-->
<div class="container" style="color: seagreen">
  
  <br>
    <a routerLink="/helpdesk" href="/helpdesk" style="font-size: 20px; color: rgb(51, 47, 47)"><span class="glyphicon glyphicon-circle-arrow-left"></span>  Back to Helpdesk</a>
  <br>
      <hr>
      <h2 style="text-align: center; color:#2f2f2f"><span class="glyphicon glyphicon-envelope"></span>MESSAGES</h2>
      <hr>         
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:30%"><b>DATE & TIME RECEIVED</b></th>
            <th style="width:30%"><b>USER</b></th>
            <th style="width:40%"><b>LAST MESSAGE</b></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let msg of list">
              <td class="text-nowrap">{{msg.date* -1 | date:'medium'}}</td>
              <td class="text-nowrap" *ngIf="myProfile.userID === msg.userFromId; else from">{{msg.userToProfile.firstName}} {{msg.userToProfile.lastName}}</td>
              <ng-template #from>
                <td class="text-nowrap">{{msg.userFromProfile.firstName}} {{msg.userFromProfile.lastName}}</td>
              </ng-template>
               <td class="trunc"><span>{{msg.content}}</span></td>
               <td> <button type="button" class="btn btn-primary" (click)="openChat(msg)">CHAT</button></td>
        
            </tr>
        </tbody>
      </table>
        
      <br>
      
      <!--
        <div id="id01" class="modal">
        <div style="border-top: 10%" class="container-fluid" style="text-align: left">
        <form class="form-horizontal modal-content animate" action="/action_page.php">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <div style="background-color: rgb(51, 47, 47)">
                <h1 style="text-align: center">MESSAGE</h1>
            </div>
            <hr>
            
          <div class="form-group">
            <label class="control-label col-sm-3" for="pwd">Content:</label>
            <div class="col-sm-6">       
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
            </div>
          </div>
          <div class="form-group">        
            <div class="col-sm-offset-3 col-sm-10">
              <button type="submit" class="btn btn-success" style="padding: 10px 10px 10px 10px">Send</button>
            </div>
          </div>
      </form>
      </div>
    </div>
      -->
      <!--Modal-->

      <ng-template #content let-modal >
        <div class="modal-header" >
            
          <h4 class="modal-title" id="modal-basic-title" >{{selectedProfile.profile.firstName}} {{selectedProfile.profile.lastName}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div style="max-height: 500px; overflow-y: scroll;">
            <ul class="list-group" *ngFor="let mes of messages" style="display: inline">
              <li class="list-group-item fromMe" *ngIf="mes.userFromId === myProfile.userID; else to" style=" text-align: right">
                <div id="chat-from"> {{mes.content}}</div>
              </li>
              <ng-template #to>
                <li class="list-group-item toMe" style="text-align: left"> 
                  <div id="chat-to"> {{mes.content}}</div>
                </li>
              </ng-template>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
            <!-- <span style="overflow: hidden" class="col-9">
                <textarea class="text-container" placeholder= "Enter Message..." cols="30" rows="2" [(ngModel)]="chatMessage"></textarea> 
     
            </span> -->
            <mat-form-field class="textArea">
              <textarea matInput placeholder="Enter message" [(ngModel)]="chatMessage" ></textarea>
            </mat-form-field>
           
               <!--  <button type="button" class="btn btn-primary" (click)="sendMessage()" >SEND</button>  -->
               <button mat-mini-fab style="margin-left: 5px" color="primary" (click)="sendMessage()">
                <mat-icon>send</mat-icon>
         </button>
           
        </div>
      </ng-template>
      
     
  </div>
  <br>
  <br>


  



<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <div align="center">
        <div style="font-size: 13px">
            <div style="color: chartreuse">TrashForm 2018<br/></div>
            | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
            | Silliman University | College of Computer Studies |<br/>
            | Laman, A. | Magcanta, M. | Samson, K. |
            <hr style="width: 30%">
        </div>
        2018 All Rights Reserved.
    </div>
</footer>

</body>
</html>
