<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/ng-bootstrap-to-bootstrap-3@0.7.0" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4">
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> INFORMATION </a>
            <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
            <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> FACILITY LOCATION </a>
            <a class="navbar-brand" *ngIf="userType === 'Head Officer'" style="color: aliceblue" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
            <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
            <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
            <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
            <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<br>
<div class="alertMes"> <ngb-alert *ngIf="success" type="success" (close)="successMessage = null">{{responseMessage}}</ngb-alert> </div>
<div class="alertMes"> <ngb-alert *ngIf="fail" type="danger" (close)="failMsg = null">{{failMsg}}</ngb-alert> </div>

<!--Adding of new route in the table-->
    <div style="text-align:center">
        <!-- <button type="button" class="btn btn-success" style="margin: 10px; font-size: 20px" (click)="addNewAccount()"><span class="glyphicon glyphicon-plus-sign"></span>  NEW ACCOUNT</button> -->
        <button type="button" class="btn btn-success" style="margin: 10px; font-size: 20px" (click)="openAccModal()"><span class="glyphicon glyphicon-plus-sign"></span>  NEW ACCOUNT</button>
    
        <button type="button" class="btn btn-success" style="margin: 10px; font-size: 20px" (click)="openReAuthModal()"><span class="glyphicon glyphicon-lock"></span> CHANGE PASSWORD</button>
    </div>

<!--creating of routes and schedule happens-->
<div class="container" style="color: seagreen">
    <hr>
        <h2 style="text-align: center; color:#2f2f2f"><span class="glyphicon glyphicon-bullhorn"></span>  OFFICER ACCOUNTS</h2>
        <hr>           
        <table class="table table-hover">
        <thead>
          <tr>
              <th>Username</th>
              <th>First Name</th>
            <th>Last Name</th>
            <th>Access Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rep of list">
                <td>{{rep.email}}</td>
                <td>{{rep.firstName}}</td>
                <td>{{rep.lastName}}</td>
                <td>{{rep.accessType}}</td>
                <td>
                  <button type="submit" class="btn btn-primary" (click)="editAccount(rep)"><span class="glyphicon glyphicon-edit"></span>  EDIT</button>
                </td>
                <td><button type="submit" class="btn btn-danger" (click)="beginDeletingRoute(rep)"><span class="glyphicon glyphicon-remove-sign"></span>  DELETE</button></td>
            </tr>
        </tbody>
        </table>
        <br>
        <br>
      
</div>
<!--Modal-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalName}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form novalidate #f="ngForm" (ngSubmit)="modal.close(send(f.value))">
            <!--email-->
            <div class="form-group" *ngIf="!edit">
                <label for="accEmail">Email </label>
                    <input
                            type="text"
                            class="form-control input-sm"
                            placeholder="Enter Email"
                            [(ngModel)]="!edit ? accEmail : tempData.email"
                            email
                            #aEmail="ngModel"
                            name="accEmail"
                            required
                    >

                <div *ngIf="aEmail.errors?.required && aEmail.touched"  class="alert alert-danger" >
                       Email is required
                </div>
                <div *ngIf="aEmail.errors?.email"   class="alert alert-danger">
                    Please enter a valid email address
                </div>

                </div>


            <!--username-->
            <div class="form-group">
                <label for="accUsername">Username</label>
                    <input
                            type="text"
                            name="accUsername"
                            class="form-control input-sm"
                            [(ngModel)]="!edit ? accUsername : tempData.email"
                            placeholder="Enter Username"
                            userName="userName"
                            #annuserName="ngModel"
                            required
                            readonly="true"
                    >

                <div *ngIf="annuserName.errors?.required && annuserName.touched
              " class="alert alert-danger">
                    Username is required
                </div>


           </div>

            <!--Adding of password -->
                <div class="form-group" *ngIf="!edit">
                    <label for="accPassword">Password </label>
                    <input
                            name="accPassword"
                            class="form-control input-sm"
                            type="password"
                            [(ngModel)]="!edit ? accPassword : accountData.password"
                            password="password"
                            #annpassword="ngModel"
                            minlength="6"
                            required
                            placeholder="Enter password"
                    >

                <div *ngIf="annpassword.errors?.required && annpassword.touched
              " class="alert alert-danger">
                    Password is required
                </div>

                <div *ngIf="annpassword.errors?.minlength && annpassword.touched
              " class="alert alert-danger">
                    It has to be at least 6 characters
                </div>
                </div>


            <br>
            <!--Adding of firstName -->

                <div class="form-group">

                    <label for="accFirstname">First Name </label>
                    <input
                            type="text"
                            name="accFirstname"
                            class="form-control input-sm"
                            [(ngModel)]="!edit ? accFirstname : tempData.firstName"
                            firstName="firstName"
                            #annfirstName="ngModel"
                            required
                            placeholder="Enter First Name"
                    >

                <div *ngIf="annfirstName.errors?.required && annfirstName.touched
            " class="alert alert-danger">
                    First Name is required
                </div>


            </div><br>

            <!--Adding of lastName -->

                <div class="form-group">
                    <label for="accLastname">Last Name </label>

                    <input
                           type="text"
                           class="form-control input-sm"
                           name="accLastname"
                            [(ngModel)]="!edit ? accLastname : tempData.lastName"
                            lastName="lastName"
                            #annlastName="ngModel"
                            required
                            placeholder="Enter Last Name"
                    >

                <div *ngIf="annlastName.errors?.required && annlastName.touched
            ">
                    Last Name is required
                </div>



                    </div><br>
            <!--Adding of accessType -->

    <div class="form-group">
        <label for="types">Access Type
            <select
                name="types"
                types="types"
                class="form-control input-sm"
                placeholder="Choose Access Type"
                [(ngModel)]="!edit ? types : tempData.accessType"
                #aAccessType="ngModel"
                required
            >

                <div *ngIf="aAccessType.errors?.required && aAccessType.touched
                      " class="alert alert-danger">
                    Access Type is required
                </div>
                <option *ngFor="let types of accessTypes" [ngValue]="types.name">
                    {{types.name}}
                </option>
                </select></label></div>


            <!--Button post-->
            <br>

            <label><span> </span>  <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid ? true : false "> SUBMIT </button> </label>

        </form>
    </div>

</ng-template>

<!-- Reauthentication Modal -->
<ng-template #reAuthModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" >Authentication</h4>
        <p style="font-size: 12px; margin-top: 5px;">Please provide your credentials</p>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form novalidate #reAuthForm="ngForm" (ngSubmit)="modal.close(reAuthenticate(reAuthForm.value))">
        <div class="modal-body">
            <!-- Username -->
            <div class="form-group" *ngIf="!edit">
                    <label for="accEmail">Username</label>
                        <input
                                type="text"
                                class="form-control input-sm"
                                placeholder="Enter Username"
                                [(ngModel)]="email"
                                #aEmail="ngModel"
                                name="accEmail"
                                minlength="4"
                                pattern="^[a-zA-Z]+[a-zA-Z0-9_-]*$"
                                required
                                (ngModelChange)="query($event, reAuthForm.valid)"
                        >
    
                    <div *ngIf="aEmail.errors?.required && aEmail.touched"  class="alert alert-danger" >
                           Username is required
                    </div>
                    <div *ngIf="aEmail.errors?.minlength"   class="alert alert-danger">
                        Username should be at least 4 characters
                    </div>
                    <div *ngIf="userNameExist" class="alert alert-danger">
                        Username already taken
                    </div>
                    <div *ngIf="aEmail.errors?.pattern" class="alert alert-danger">
                        Invalid Username
                    </div>
                    </div>
    
    
                    <!--Adding of password -->
                    <div class="form-group">
                        <label for="acPassword">Old Password </label>
                        <input
                                name="accPassword"
                                class="form-control input-sm"
                                type="password"
                                [(ngModel)]="password"
                                password="password"
                                #acPassword="ngModel"
                                minlength="6"
                                required
                                placeholder="Enter password"
                        >
    
                        <div *ngIf="acPassword.errors?.required && acPassword.touched" class="alert alert-danger">
                            Password is required
                        </div>
    
                        <div *ngIf="acPassword.errors?.minlength && acPassword.touched" class="alert alert-danger">
                            It has to be at least 6 characters
                        </div>
                    </div>

                    <!-- NEW PASSWORD -->
                    <div class="form-group">
                        <label for="newPass">New Password </label>
                        <input
                                name="newPass"
                                class="form-control input-sm"
                                type="password"
                                [(ngModel)]="newPassword"
                                password="password"
                                #newPass="ngModel"
                                minlength="6"
                                required
                                placeholder="Enter new password"
                        >
    
                        <div *ngIf="newPass.errors?.required && newPass.touched" class="alert alert-danger">
                            Password is required
                        </div>
    
                        <div *ngIf="newPass.errors?.minlength && newPass.touched" class="alert alert-danger">
                            It has to be at least 6 characters
                        </div>
                    </div>
                    <!--CONFIRM NEW PASSWORD-->
                    <div class="form-group">
                        <label for="confirmNewPass">Confirm New Password </label>
                        <input
                                name="confirmNewPass"
                                class="form-control input-sm"
                                type="password"
                                [(ngModel)]="confirmNewPassword"
                                (ngModelChange) = "validatePassword($event)"
                                password="password"
                                #confirmNewPass="ngModel"
                                minlength="6"
                                required
                                placeholder="Confirm new password"
                        >
    
                        <div *ngIf="confirmNewPass.errors?.required && confirmNewPass.touched" class="alert alert-danger">
                            Password is required
                        </div>
    
                        <div *ngIf="confirmNewPass.errors?.minlength && confirmNewPass.touched" class="alert alert-danger">
                            It has to be at least 6 characters
                        </div>
                        <div *ngIf="!passwordMatch && confirmNewPass.touched" class="alert alert-danger">
                            Password mismatch
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!reAuthForm.valid || !passwordMatch ? true : false "> SUBMIT </button>
        </div>
    </form>
    <div class="modal-body">
        
    </div>
</ng-template>

<!--  -->
<ng-template #changePassModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" >Change Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

    </div>
</ng-template>


<!-- New Account Modal -->
<ng-template #newAccModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" >New Account</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form novalidate #accForm="ngForm" (ngSubmit)="modal.close(addAccount(accForm.value))">
        <div class="modal-body">
            <!-- Username -->
            <div class="form-group" *ngIf="!edit">
                <label for="accEmail">Username</label>
                    <input
                            type="text"
                            class="form-control input-sm"
                            placeholder="Enter Username"
                            [(ngModel)]="accEmail"
                            #aEmail="ngModel"
                            name="accEmail"
                            minlength="4"
                            pattern="^[a-zA-Z0-9_-]*$"
                            required
                            (ngModelChange)="query($event, accForm.valid)"
                    >

                <div *ngIf="aEmail.errors?.required && aEmail.touched"  class="alert alert-danger" >
                       Email is required
                </div>
                <div *ngIf="aEmail.errors?.minlength"   class="alert alert-danger">
                    Username should be at least 4 characters
                </div>
                <div *ngIf="userNameExist" class="alert alert-danger">
                    Username already taken
                </div>
                <div *ngIf="aEmail.errors?.pattern" class="alert alert-danger">
                    Invalid Username
                </div>
                </div>


                <!--Adding of password -->
                <div class="form-group">
                    <label for="acPassword">Password </label>
                    <input
                            name="accPassword"
                            class="form-control input-sm"
                            type="password"
                            [(ngModel)]="accPassword"
                            password="password"
                            #acPassword="ngModel"
                            minlength="6"
                            required
                            placeholder="Enter password"
                    >

                    <div *ngIf="acPassword.errors?.required && acPassword.touched" class="alert alert-danger">
                        Password is required
                    </div>

                    <div *ngIf="acPassword.errors?.minlength && acPassword.touched" class="alert alert-danger">
                        It has to be at least 6 characters
                    </div>
                </div>

                <!--Adding of firstName -->

                <div class="form-group">

                    <label for="accFirstName">First Name </label>
                    <input
                            type="text"
                            name="accFirstName"
                            class="form-control input-sm"
                            [(ngModel)]="accFirstname"
                            firstName="firstName"
                            #acFirstName="ngModel"
                            required
                            placeholder="Enter First Name"
                    >

                <div *ngIf="acFirstName.errors?.required && acFirstName.touched" class="alert alert-danger">
                    First Name is required
                </div>
            </div>
            
            <!--Adding of lastName -->

            <div class="form-group">
                <label for="accLastName">Last Name </label>

                <input
                       type="text"
                       class="form-control input-sm"
                       name="accLastName"
                        [(ngModel)]="accLastname"
                        lastName="lastName"
                        #acLastName="ngModel"
                        required
                        placeholder="Enter Last Name"
                >

                <div *ngIf="acLastName.errors?.required && acLastName.touched">
                    Last Name is required
                </div>
            </div>


  <!--Adding of accessType -->

  <div class="form-group">
    <label for="types">Access Type
        <select
            name="types"
            types="types"
            class="form-control input-sm"
            placeholder="Choose Access Type"
            [(ngModel)]="types"
            #aAccessType="ngModel"
            required
        >

            <div *ngIf="aAccessType.errors?.required && aAccessType.touched
                  " class="alert alert-danger">
                Access Type is required
            </div>
            <option *ngFor="let types of accessTypes" [ngValue]="types.name">
                {{types.name}}
            </option>
            </select></label></div>

            <button type="submit" class="btn btn-primary btn-block" [disabled]="!accForm.valid ? true : false "> SUBMIT </button>
        </div>
    </form>
</ng-template>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
        <div align="center">
            <div style="font-size: 13px">
                <div style="color: chartreuse">TrashForm 2018<br/></div>
                | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
                | Silliman University | College of Computer Studies |<br/>
                | Laman, A. | Magcanta, M. | Samson, K. |
                <hr style="width: 30%">
            </div>
            2018 All Rights Reserved.
        </div>
</footer>

</body>
</html>
