<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/ng-bootstrap-to-bootstrap-3@0.7.0" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>

</head>

<body ng-app="TrashForm">
  <div class="container-fluid bg-4">
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span>
          INFORMATION </a>
        <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span>
          HELPDESK </a>
        <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> FACILITY
          LOCATION </a>
        <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>
          ROUTE </a>
        <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span>
          REPORTS</a>
        <a class="navbar-brand" *ngIf="userType === 'Officer'" style="color: aliceblue" routerlink="/myaccount" href="/myaccount"><span
            class="glyphicon glyphicon-user"></span> MY ACCOUNT </a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <br>
  <div class="alertMes">
    <ngb-alert *ngIf="success" type="success" (close)="successMessage = null">{{responseMessage}}</ngb-alert>
  </div>
  <div class="alertMes">
    <ngb-alert *ngIf="fail" type="danger" (close)="failMsg = null">{{failMsg}}</ngb-alert>
  </div>

  <!--Adding of new route in the table-->
  <div style="text-align:center">
    <!-- <button type="button" class="btn btn-success" style="margin: 10px; font-size: 20px" (click)="addNewAccount()"><span class="glyphicon glyphicon-plus-sign"></span>  NEW ACCOUNT</button> -->

    <button type="button" class="btn btn-success" style="margin: 10px; font-size: 20px" (click)="openReAuthModal()"><span
        class="glyphicon glyphicon-lock"></span> CHANGE PASSWORD</button>
  </div>
<br><br>
  <!--CARD-->
  <mat-card class="officerCard">
    <mat-card-header>
      <mat-card-title >
          <div>PROFILE</div>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        <span>Username: </span>
        <span>{{(userProfile | async)?.email}}</span>
      </p>

      <p>
        <span>First Name: </span>
        <span>{{(userProfile | async)?.firstName}}</span>
      </p>
      <p>
        <span>Last Name: </span>
        <span>{{(userProfile | async)?.lastName}}</span>
      </p>
      <p>
        <span>Last Name: </span>
        <span>{{(userProfile | async)?.lastName}}</span>
      </p>
    </mat-card-content>

  </mat-card>


  <!-- Reauthentication Modal -->
  <ng-template #reAuthModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Authentication</h4>
      <p style="font-size: 12px; margin-top: 5px;">Please provide your credentials</p>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form novalidate #reAuthForm="ngForm" (ngSubmit)="modal.close(reAuthenticate(reAuthForm.value))">
      <div class="modal-body">
        <!-- Username -->
        <div class="form-group" *ngIf="!edit">
          <label for="accEmail">Username</label>
          <input type="text" class="form-control input-sm" placeholder="Enter Username" [(ngModel)]="email" #aEmail="ngModel"
            name="accEmail" minlength="4" pattern="^[a-zA-Z]+[a-zA-Z0-9_-]*$" required (ngModelChange)="query($event, reAuthForm.valid)">

          <div *ngIf="aEmail.errors?.required && aEmail.touched" class="alert alert-danger">
            Username is required
          </div>
          <div *ngIf="aEmail.errors?.minlength" class="alert alert-danger">
            Username should be at least 4 characters
          </div>
          <div *ngIf="userNameExist" class="alert alert-danger">
            Username already taken
          </div>
          <div *ngIf="aEmail.errors?.pattern" class="alert alert-danger">
            Invalid Username
          </div>
        </div>


        <!--Adding of password -->
        <div class="form-group">
          <label for="acPassword">Old Password </label>
          <input name="accPassword" class="form-control input-sm" type="password" [(ngModel)]="password" password="password"
            #acPassword="ngModel" minlength="6" required placeholder="Enter password">

          <div *ngIf="acPassword.errors?.required && acPassword.touched" class="alert alert-danger">
            Password is required
          </div>

          <div *ngIf="acPassword.errors?.minlength && acPassword.touched" class="alert alert-danger">
            It has to be at least 6 characters
          </div>
        </div>

        <!-- NEW PASSWORD -->
        <div class="form-group">
          <label for="newPass">New Password </label>
          <input name="newPass" class="form-control input-sm" type="password" [(ngModel)]="newPassword" password="password"
            #newPass="ngModel" minlength="6" required placeholder="Enter new password">

          <div *ngIf="newPass.errors?.required && newPass.touched" class="alert alert-danger">
            Password is required
          </div>

          <div *ngIf="newPass.errors?.minlength && newPass.touched" class="alert alert-danger">
            It has to be at least 6 characters
          </div>
        </div>
        <!--CONFIRM NEW PASSWORD-->
        <div class="form-group">
          <label for="confirmNewPass">Confirm New Password </label>
          <input name="confirmNewPass" class="form-control input-sm" type="password" [(ngModel)]="confirmNewPassword"
            (ngModelChange)="validatePassword($event)" password="password" #confirmNewPass="ngModel" minlength="6"
            required placeholder="Confirm new password">

          <div *ngIf="confirmNewPass.errors?.required && confirmNewPass.touched" class="alert alert-danger">
            Password is required
          </div>

          <div *ngIf="confirmNewPass.errors?.minlength && confirmNewPass.touched" class="alert alert-danger">
            It has to be at least 6 characters
          </div>
          <div *ngIf="!passwordMatch && confirmNewPass.touched" class="alert alert-danger">
            Password mismatch
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!reAuthForm.valid || !passwordMatch ? true : false ">
          SUBMIT </button>
      </div>
    </form>
    <div class="modal-body">

    </div>
  </ng-template>



  <br><br>


  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <div align="center">
      <div style="font-size: 13px">
        <div style="color: chartreuse">TrashForm 2018<br /></div>
        | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br />
        | Silliman University | College of Computer Studies |<br />
        | Laman, A. | Magcanta, M. | Samson, K. |
        <hr style="width: 30%">
      </div>
      2018 All Rights Reserved.
    </div>
  </footer>

</body>

</html>
