body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {font-size: 18px;}
.margin {
  margin-bottom: 25px;
  }
.bg-1 { 
  background-color:#474e5d; /* Green */
  color: #ffffff;
}
.bg-2 { 
  background-color: yellowgreen; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 15px;
  padding-bottom: 10px;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 4px;
  background-color:darkseagreen;
  position: center;
}
.navbar-nav  li a:hover {
  color: #ffffff !important;
}

.tab {
  overflow: hidden;
  background-color: seagreen;
}

.container{
  margin: 0 auto !important;
}

.navbar-nav {
  width: 100%;
  text-align: center;
  
}
.navbar-brand{
  float: none;
  display: inline-block;
}

/* .navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
}
 */

