<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4 text-center">
    <a routerLink="/home" href="/home"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
    <a routerLink="/home" href="/home"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header ">
        <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> PUBLISH </a>
        <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
        <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> MAP </a>
       <a class="navbar-brand"  *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
        <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
        <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" (click)="logOut()" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- Second Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin" >Improve Waste Management in your Community now!</h3>
  <hr>
  <br>
  <div class="row">
    <div class="col-sm-3">
        <img src="./assets/pic1.png" class="img-responsive margin" style="width:100%" alt="Image">

        <p>Publish or Update the households of the new schedule of garabge collection in your area.</p><hr>
    </div>

    <div class="col-sm-3">
        <img src="./assets/pic2.png" class="img-responsive margin" style="width:100%" alt="Image">
        
        <p>Reply to user messages, inquires or questions. Help your community by answering their questions!</p><hr>
    </div>

    <div class="col-sm-3"> 
        <img src="./assets/pic3.png" class="img-responsive margin" style="width:100%" alt="Image">
        
        <p>Help the households locate the Nearest Material Recovery Facility and Junkshops!</p><hr>
    </div>

    <div class="col-sm-3"> 
        <img src="./assets/pic4.png" class="img-responsive margin" style="width:100%" alt="Image">
        
        <p>Add your colleagues by giving them accounts. The more Waste Guides, the merrier!</p><hr>
    </div>
  </div>

</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
        <div align="center">
            <div style="font-size: 13px">
                <div style="color: chartreuse">TrashForm 2018<br/></div>
                | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
                | Silliman University | College of Computer Studies |<br/>
                | Laman, A. | Magcanta, M. | Samson, K. |
                <hr style="width: 30%">
            </div>
            2018 All Rights Reserved.
        </div>
</footer>

</body>
</html>
