body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

p {
    font-size: 18px;
    color: #2f2f2f;
}
.margin {margin-bottom: 25px;
    }
.bg-1 { 
    background-color:#474e5d; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: yellowgreen; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 15px;
    padding-bottom: 10px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
    background-color:darkseagreen;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
/* Style the tab */
.tab {
    overflow: hidden;
    background-color: seagreen;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #2f2f2f;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color:seagreen;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.vertical-menu {
    position: relative;
    width: 70%;
}

.vertical-menu a {
    background-color: #eee;
    color: #2f2f2f;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

headermenu {
    background-color: darkseagreen;
    color: #2f2f2f
}