<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1 charset="utf-8"">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4 text-center">
    <a routerLink="/home" href="/home"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
    <a routerLink="/home" href="/home"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> PUBLISH </a>
        <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
        <a class="navbar-brand" routerlink="/#" href="#"><span class="glyphicon glyphicon-globe"></span> MAP </a>
        <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
        <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
        <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div>

    <br>
    <br>
    <div class="vertical-menu container" style="text-align: center">
        <a routerLink="/publish" class="active headermenu"><span class="glyphicon glyphicon-file"></span>  P  U  B  L  I  S  H</a>
        <a routerLink="/publish-schedule" href="/publish-schedule"><span class="glyphicon glyphicon-road"></span>   ROUTE</a>
        <a routerLink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-bullhorn"></span>   INFORMATION</a>
    </div>
    <br>
    <br>  
      
      
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
        <div align="center">
            <div style="font-size: 13px">
                <div style="color: chartreuse">TrashForm 2018<br/></div>
                | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
                | Silliman University | College of Computer Studies |<br/>
                | Laman, A. | Magcanta, M. | Samson, K. |
                <hr style="width: 30%">
            </div>
            2018 All Rights Reserved.
        </div>
</footer>

</body>
</html>