<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4">
  <a routerLink="/home-page" href="/home-page"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
  <a routerLink="/home-page" href="/home-page"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" style="color: aliceblue" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> INFORMATION </a>
        <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
        <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> FACILITY LOCATION </a>
        <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
        <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
        <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
        <a class="navbar-brand" *ngIf="userType === 'Officer'" routerlink="/myaccount" href="/myaccount"><span class="glyphicon glyphicon-user"></span> MY ACCOUNT </a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!--THE MAGIC GOES HERE-->
<div class="row">
  <div class="col-sm-3"></div>
    <br>
    <div class="col-sm-2"></div>
    <a routerLink="/publish-announcements" href="/publish-announcements" style="font-size: 20px; color:darkgreen"><span class="glyphicon glyphicon-circle-arrow-left"></span>  Back to List of Published Information</a>
    <br>
    <div class="card">
        <div class="container">
          <div class="thumbnail">
              <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-md-4">
                    <br>
                    <div>
                      <img style="width: 300px; height: 300px;" src="./assets/information.png" alt="ENRO">
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="caption">

                        <div class="card">
                          <h1> ADD NEW INFORMATION</h1>
                        <!--Main Form-->
                        <div class="col-md-3"></div>
                        <div layout-align="center center" class="col-md-10" style="text-align: left; margin-left: 40px">
                          
                          <form novalidate #f="ngForm" (ngSubmit)="sendData()">
                            
                            <!--Adding of infoType -->
                            <mat-form-field style="width: 100%">
                              <mat-select placeholder="Info Type" [formControl]="typeInfo" required>
        
                                <mat-option *ngFor="let type of types" [value]="type.name">
                                  {{type.name}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="typeInfo.hasError('required')">Please choose info type</mat-error>
                              <mat-hint>{{typeInfo.value?.sound}}</mat-hint>
                            </mat-form-field>
                            
              
                           
                            
                            <!--Adding of  Title-->
                            <mat-form-field style="width: 100%"> 
                            <div>
                             <input
                                matInput
                                [(ngModel)]="infoTitle"
                                [ngModelOptions]="{standalone: true}"
                                infoTitle="infoTitle"
                                #anninfoTitle="ngModel"
                                minlength="2"
                                required
                                style="color:dimgray"
                                placeholder="Info Title"
                                >
                            </div>
                                <mat-error *ngIf="anninfoTitle.errors?.required && anninfoTitle.touched
                                " >
                                  Title of Information is required
                                </mat-error>
                      
                                <mat-error *ngIf="anninfoTitle.errors?.minlength && anninfoTitle.touched
                                " class="alert alert-danger">
                                  It has to be at least 4 characters
                                </mat-error>
                              </mat-form-field>
                            
                            <!--Adding of infoContent -->
                            <mat-form-field style="width: 100%"> 
                            <div>
                              <textarea
                              matInput
                              rows="5"
                              [(ngModel)]="infoContent"
                              [ngModelOptions]="{standalone: true}"
                              infoContent="infoContent"
                              #anninfoContent="ngModel"
                              minlength="2"
                              required
                              style="color:dimgray"
                              placeholder="Info Content"
                              ></textarea>
                            </div>
                              <mat-error *ngIf="anninfoContent.errors?.required && anninfoContent.touched
                              " >
                                Content of your Information is required
                          </mat-error>
                  
                              
                            </mat-form-field>
                  
                            <br>
                  
                              <!--Button post-->
                              <input style="margin: 10px; font-size: 20px; width: 50%" type="submit" class="btn btn-primary btn-block" value="Post Information">
                              <br>
                            </form>
                            <div class="col-sm-3"></div>
                        </div>
                        <div ></div>
                      </div>

                          <br>
                      </div>
                    </div>
              </div>
          </div>
      </div>

        <div class="col-sm-3"></div>
      </div>
  </div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <div align="center">
        <div style="font-size: 13px">
            <div style="color: chartreuse">TrashForm 2018<br/></div>
            | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
            | Silliman University | College of Computer Studies |<br/>
            | Laman, A. | Magcanta, M. | Samson, K. |
            <hr style="width: 30%">
        </div>
        2018 All Rights Reserved.
    </div>
</footer>

</body>
</html>