body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 18px;}
.margin {
    margin-bottom: 25px;
    }
.bg-1 { 
    background-color:#474e5d; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: yellowgreen; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 15px;
    padding-bottom: 10px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
    background-color:darkseagreen;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.tab {
    overflow: hidden;
    background-color: seagreen;
}


footer{
    margin-top:150px;
}