<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4 ">
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> INFORMATION </a>
        <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
        <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> FACILITY LOCATION </a>
        <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
        <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
        <a class="navbar-brand" style="color: aliceblue" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
        <a class="navbar-brand" *ngIf="userType === 'Officer'" routerlink="/myaccount" href="/myaccount"><span class="glyphicon glyphicon-user"></span> MY ACCOUNT </a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!--creating of routes and schedule happens-->
<div class="container" style="color: seagreen">
    
    <hr>
      <h2 style="text-align: center; color:#2f2f2f"><span class="glyphicon glyphicon-cloud-upload"></span>  RECEIVED REPORTS</h2>
      <hr>
      <table class="table table-hover">
            <thead>
              <tr>
                    <th><b>DESCRIPTION</b></th>
                    <th><b>LOCATION OF REPORT</b></th>
                    <th></th>
                    <th></th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let min of lista">
                    <td>{{min.description}}</td>
                    <td>{{min.location}}</td>
                    <td><a [routerLink]="['/min/'+min.$key]" href=""><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-tasks"></span> VIEW DETAILS</button></a></td>
                    <td><button type="submit" class="btn btn-danger" (click)="beginDeletingRoute(min)"><span class="glyphicon glyphicon-remove-sign"></span>  DELETE</button></td>
                </tr>
            </tbody>
        </table>       
    </div>
    <br>
    <br>

<!-- Footer -->
<footer class="container-fluid bg-4">
        <div align="center">
            <div style="font-size: 13px">
                <div style="color: chartreuse">TrashForm 2018<br/></div>
                | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
                | Silliman University | College of Computer Studies |<br/>
                | Laman, A. | Magcanta, M. | Samson, K. |
                <hr style="width: 30%">
            </div>
            2018 All Rights Reserved.
        </div>
</footer>

</body>
</html>
