/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');


@media (min-width: 768px) {
  .modal-dialog {
    width: 400px !important;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}

#time-picker-wrapper{
  z-index: 1060 !important;
}

.cdk-overlay-backdrop {
  z-index: 1060 !important;
}

.cdk-overlay-connected-position-bounding-box{
  z-index: 1060 !important;
}

.cdk-overlay-container{
  z-index: 1060 !important;
}