<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/ng-bootstrap-to-bootstrap-3@0.7.0" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4 text-center">
    <a routerLink="/home" href="/home"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
    <a routerLink="/home" href="/home"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> PUBLISH </a>
        <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
        <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> MAP </a>
        <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
        <a class="navbar-brand" style="color: aliceblue" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
        <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
        <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
        <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<br>
<!--Adding of new route in the table-->
<div style="text-align:center" >
    
    <a routerLink="/create-routes" href="/create-routes"><button style="width:auto;" type="submit" class="btn btn-success" style="margin: 10px; font-size: 20px"><span class="glyphicon glyphicon-plus-sign"></span> ADD NEW ROUTE</button></a>
    <button style="width:auto;" type="submit" class="btn btn-success" style="margin: 10px; font-size: 20px" (click)="addLocation(l)"><span class=" glyphicon glyphicon-map-marker "></span>ROUTE LOCATIONS</button>
</div>

<!--creating of routes and schedule happens-->
<div class="container" style="color: seagreen">
  <hr>
    <h2 style="text-align: center; color:#2f2f2f"><span class="glyphicon glyphicon-road"></span> PUBLISHED ROUTES</h2>
  <hr>           
  <table class="table table-hover">
      <thead>
        <tr>
            <th><b>ROUTE NO.</b></th>
            <th><b>DAY/S OF COLLECTION</b></th>
            <th><b>TYPE OF COLLECTION</b></th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let rou of sort">
              <td>{{rou.$key}}</td>
              <td>{{rou.day}}</td>
              <td>{{rou.type}}</td>
              <!-- <td><a [routerLink]="['/rou/'+rou.$key]" href=""><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-tasks"></span> VIEW DETAILS</button></a></td> -->
              <td><button type="submit" class="btn btn-info" (click)="editRoute(rou)"><span class="glyphicon glyphicon-tasks"></span>   EDIT</button></td>
              <td><button type="submit" class="btn btn-danger"(click)="beginDeletingRoute(rou)"><span class="glyphicon glyphicon-remove-sign"></span>   DELETE</button></td>
              <!-- 
                  <td><a [routerLink]="['/rou/'+rou.$key]" href=""><button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> EDIT</button></a></td>
              -->
          </tr>
      </tbody>
    </table>
 
    <br>

</div>

<!--ROUTE LOCAIONS MODAL-->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">ROUTE LOCATIONS</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div style="max-height: 650px; overflow-y: scroll">
            <div *ngFor="let loc of routeLocations" class="loc_btn">
                <button mat-mini-fab color="warn"  (click)="deleteLocation(loc)">
                    <mat-icon >clear</mat-icon>
                </button>
                <button mat-button  mat-stroked-button disabled color="primary" class="loc_btn_inner">{{loc.routeLocationName}}</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div style="text-align: center;">
            <h5>ADD NEW LOCATION</h5>
        </div>
        <form>
          <!--Add Location-->
        <mat-form-field style="width: 100%"> 
            <div>
             <input
                matInput
                [(ngModel)]="location"
                [ngModelOptions]="{standalone: true}"
                location="location"
                #aLocation="ngModel"
                
                style="color:dimgray"
                placeholder="New location or landmark"
                (ngModelChange)="changeBtn($event)"
                >
            </div>
              </mat-form-field>
      </form>
      <button type="button" class="btn btn-outline-dark" (click)="newLocation()" [disabled]="btnDisabled">ADD</button>
    </div>
  </ng-template>
  <!--ROUTE LOCAIONS MODAL END-->

  <!--EDIT ROUTE MODAL-->
<ng-template #edit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{routeToEdit.$key}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div style="max-height: 650px; overflow-y: scroll">
            <div *ngFor="let loc of locsToEdit" class="loc_btn">
                <button mat-mini-fab color="warn" (click)="deleteRouteLoc(loc)">
                    <mat-icon >clear</mat-icon>
                </button>
                <button mat-button  mat-stroked-button disabled color="primary" class="loc_btn_inner">{{loc}}</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div style="text-align: center;">
            <h5>ADD NEW LOCATION</h5>
        </div>
        <form>
          <!--Add Location-->
        <mat-form-field style="width: 100%"> 
            <div>
             <input
                matInput
                [(ngModel)]="location"
                [ngModelOptions]="{standalone: true}"
                location="location"
                #aLocation="ngModel"
                
                style="color:dimgray"
                placeholder="New location or landmark"
                (ngModelChange)="changeBtn($event)"
                >
            </div>
              </mat-form-field>
      </form>
      <button type="button" class="btn btn-outline-dark" (click)="newLocation()" [disabled]="btnDisabled">ADD</button>
    </div>
  </ng-template>
  <!--EDIT ROUTE MODAL END-->



<br>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
        <div align="center">
            <div style="font-size: 13px">
                <div style="color: chartreuse">TrashForm 2018<br/></div>
                | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
                | Silliman University | College of Computer Studies |<br/>
                | Laman, A. | Magcanta, M. | Samson, K. |
                <hr style="width: 30%">
            </div>
            2018 All Rights Reserved.
        </div>
</footer>

</body>
</html>