<router-outlet></router-outlet>
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/sketchy/bootstrap.min.css"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="TrashForm">
<div class="container-fluid bg-4 ">
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/TrashForm_LOGO.png" alt="TRASHFORM"></a>
    <a routerLink="/publish-announcements" href="/publish-announcements"><img src="./assets/Dumaguete_LOGO.png" alt="ENRO"></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: aliceblue" routerlink="/publish-announcements" href="/publish-announcements"><span class="glyphicon glyphicon-file"></span> INFORMATION </a>
            <a class="navbar-brand" routerlink="/helpdesk" href="/helpdesk"><span class="glyphicon glyphicon-comment"></span> HELPDESK </a>
            <a class="navbar-brand" routerlink="/map" href="/map"><span class="glyphicon glyphicon-globe"></span> FACILITY LOCATION </a>
            <a class="navbar-brand" *ngIf="userType === 'Head Officer'" routerlink="/accounts" href="/accounts"><span class="glyphicon glyphicon-user"></span> ACCOUNTS </a>
            <a class="navbar-brand" routerlink="/routes" href="/routes"><span class="glyphicon glyphicon-road"></span>  ROUTE </a>
            <a class="navbar-brand" routerLink="/reports" href="/reports"><span class="glyphicon glyphicon-cloud-upload"></span> REPORTS</a>
            <a class="navbar-brand" *ngIf="userType === 'Officer'" routerlink="/myaccount" href="/myaccount"><span class="glyphicon glyphicon-user"></span> MY ACCOUNT </a>
            <!-- <a class="nav navbar-nav navbar-right" style="color: firebrick" class="navbar-brand" href="/login">LOGOUT >></a>-->
            <a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>

<br>  
<!--Adding of new route in the table-->
  <div style="text-align:center">
        <a routerLink="/create-announcements" href="/create-announcements"><button style="width:auto;" type="submit" class="btn btn-success" style="margin: 10px; font-size: 20px"><span class="glyphicon glyphicon-plus-sign"></span> NEW INFORMATION</button></a>
        <a routerLink="/upload" href="/upload"><button style="width:auto;" type="submit" class="btn btn-success" style="margin: 10px; font-size: 20px"><span class="glyphicon glyphicon-file"></span> UPLOADED FILES</button></a>
    </div>
<br>
<!--creating of routes and schedule happens-->
<!-- <div class="container" style="color: seagreen">
    <hr>
        <h2 style="text-align: center; color:#2f2f2f"><span class="glyphicon glyphicon-bullhorn"></span>  PUBLISHED INFORMATION</h2>
        <hr>           
        <table class="table table-hover">
        <thead>
          <tr>
            
            <th><b><i>INFORMATION TITLE</i></b></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rep of list">
                
                <td>{{rep.infoTitle}}</td>
                <td><button type="submit" class="btn btn-danger" (click)="beginDeletingRoute(rep)"><span class="glyphicon glyphicon-remove-sign"></span>  DELETE</button></td>
                <td><a [routerLink]="['/rep/'+rep.$key]" href=""><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-tasks"></span> VIEW DETAILS</button></a></td>
            </tr>
        </tbody>
        
        </table>

        <br>
        <br>
      
</div> -->
<div class=" mat-elevation-z8">
  
    <table mat-table [dataSource]="dataSource">
  
      <!-- Date Column -->
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> DATE PUBLISHED </th>
        <td mat-cell *matCellDef="let element"> {{element.infoTimestamp * -1 | date:'medium'}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> TITLE </th>
        <td mat-cell *matCellDef="let element"> {{element.infoTitle}}</td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> TYPE </th>
        <td mat-cell *matCellDef="let element"> {{element.infoType}}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="Actions" >
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="btn-g" >
          <button  (click)="deleteInfo(element)" class="btn-g-inner btn btn-danger">DELETE</button>
          <button [routerLink]="['/rep/'+element.key]" class="btn-g-inner btn btn-info" >VIEW DETAILS</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center" >
        <div align="center">
            <div style="font-size: 13px">
                <div style="color: chartreuse">TrashForm 2018<br/></div>
                | Environmental and Natural Resources Office (ENRO) Dumaguete City |<br/>
                | Silliman University | College of Computer Studies |<br/>
                | Laman, A. | Magcanta, M. | Samson, K. |
                <hr style="width: 30%">
            </div>
            2018 All Rights Reserved.
        </div>
</footer>

</body>