body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 18px;}
.margin {
    margin-bottom: 25px;
    }
.bg-1 { 
    background-color:#474e5d; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: yellowgreen; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 15px;
    padding-bottom: 10px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 1px;
    background-color:darkseagreen;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.tab {
    overflow: hidden;
    background-color: seagreen;
}

.word-wrap {
    word-break: break-all;
}
.no-wrap {
    white-space: nowrap;
}
.fixed {
    table-layout: fixed;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 100%;
  }

  .btn-g{
      text-align: center !important; 
        /* align-content: center !important; */
  
  }


  .btn-g-inner{
      margin-left: 5px;
      margin-right: 5px;
  }


